* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#map {
	width: 100%;
	height: 700px;
}
.supplied-gpx-container {
	list-style: none;
	width: 100%;
	margin-top: 25px;
	height: 620px;
	overflow: scroll;
	background-color: white;
	padding-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.supplied-gpx-container--small {
	margin-top: 0px;
	margin-bottom: 10px;
	height: 180px;
	overflow: auto;
}
.supplied-gpx {
	padding: 10px;
	border-bottom: 1px solid grey;
}
.supplied-gpx-stats {
	list-style: none;
}
.supplied-gpx-stats li {
	border-left: 1px solid grey;
	padding-left: 10px;
	margin-left: -30px;
}
.supplied-gpx-stats li:last-child {
	border-right: 1px solid grey;
}

.gpxinput {
	margin-bottom: 20px;
}

.locname {
	font-weight: bold;
}

#stat {
	text-align: right;
	margin-right: 50px;
}

#right {
	background-color: #5B8EA6;
}

h1 {
	padding-top: 15px;
	padding-bottom: 35px;
	font-style: italic;
	font-family: sans-serif;
	text-decoration: underline;
}
