* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#map {
	float: left;
}
.supplied-gpx-container {
	list-style: none;
	margin: 0 0 0 20px;
	float: left;
	height: 430px;
	width: calc(50% - 20px);
	overflow: scroll;
	background-color: #cccccc;
}
.supplied-gpx-container--small {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 150px;
}
.supplied-gpx {
	padding: 10px;
	border-top: 1px solid grey;
}
.supplied-gpx-stats {
	list-style: none;
}
.supplied-gpx-stats li {
	float: left;
	border-left: 1px solid grey;
	padding: 10px;
}
.supplied-gpx-stats li:last-child {
	border-right: 1px solid grey;
}

.gpxinput {
	margin-bottom: 20px;
}

.locname {
	font-weight: bold;
	margin-left: 50px;
}